{% from "macros/nav.html" import header %}
{% from "macros/footer.html" import footer %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Precision Medicine Portal</title>
        <link href="https://fonts.googleapis.com/css?family=Public+Sans:400,600&display=swap" rel="stylesheet">
        {% block head_content %} {% endblock %}
    </head>
    <body>
        {{ header() }}
        <main class="main">
            {% block main_content %} {% endblock %}
        </main>
        {{ footer() }}
    </body>
</html>
